system/system/app/HMDCameraApp/HMDCameraApp.apk
system/system/app/LatinImeGoogle/LatinImeGoogle.apk
system/system/app/MtkWallpaperPicker/MtkWallpaperPicker.apk
system/system/app/Photos/Photos.apk
system/system/app/YouTube/YouTube.apk
system/system/priv-app/GmsCore/GmsCore.apk
system/system/app/Chrome/Chrome.apk
system/system/priv-app/Velvet/Velvet.apk
